.banner_text{
    color: #000;
    font-family: 'Poppins', sans-serif;
}
.banner_text h2{
    font-size: 40px;
    font-weight: 700;
}
.banner_text h3{
    font-size: 25px;
    font-weight: 600;
}
.banner_text p{
    font-size: 16px;
    font-weight: 400;
}
