#footer {
    background-color: #000;
    color: #d1d1d1;
}

.footer_items {
    display: flex;
    justify-content: space-evenly;
}

.footer_text h3,
.footer_link h3,
.footer_info h3,
.footer_subscribe h3 {
    color: #d1d1d1;
    font-size: 25px;
    font-weight: 600;
    font-family: 'Source Sans Pro', sans-serif;
}

.footer_text p,
.copy small {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 15px;
    text-align: justify;
    padding-top: 20px;
    width: 280px;
}

.footer_link ul,
li .footer_info ul,
li {
    list-style-type: none;
}

.footer_space {
    padding: 0px 10px;
}

#copy {
    border-top: 1px solid #BEAEE2;
    padding: 20px 0px;
}

#copy small {
    display: inline-block;
    width: 100%;
}

.inputField input:not([type=checkbox]) {
    display: block;
    border: 1px solid transparent;
    width: 25%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    margin: 10px 0px;
    padding: 10px;
    border-radius: 3px;
    background-color: gold;
}

.social_icon a {
    color: #000;
    font-size: 18px;
    padding: 8px 10px;
    background-color: #CDF0EA;
    margin: 0px 10px;
    border-radius: 3px;
}

/*--------------apply media query-------------*/
@media (min-width: 992px) and (max-width: 1199px) {
    .footer_items {
        flex-direction: column;
    }

    .footer_space {
        margin-top: 20px;
    }

    .footer_text p {
        width: 100%
    }

    .inputField  {
        width: 400px;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .footer_items {
        flex-direction: column;
    }

    .footer_space {
        margin-top: 20px;
    }
    .inputField  {
        width: 400px;
    }

    .footer_text p {
        width: 100%
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .footer_items {
        flex-direction: column;
    }

    .footer_space {
        margin-top: 20px;
    }

    .footer_text p {
        width: 100%
    }
}

@media (max-width: 575.98px) {
    .footer_items {
        flex-direction: column;
    }

    .footer_space {
        margin-top: 20px;
    }

    .footer_text p {
        width: 100%
    }
}

/*--------------apply media query-------------*/